.menuicon {
  /* background-color: red; */
  height: 30px;
  width: 30px;
  display: none;
}
.content3 h1 {
  width: 100%;
}

@media (max-width: 1280px) {
  .nav {
    margin: 0 20px;
  }
  .navContent2 {
    display: none;
  }
  .menuicon {
    display: flex;
  }
  .navContent3 {
    display: none;
    background-color: green;
  }
  .cntImgs {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .img1,
  .img5 {
    display: none;
  }
  .cnt3grid {
    grid-template-columns: repeat(3, 1fr);
  }
  #card4 {
    display: none;
  }
}
@media (max-width: 1180px) {
  .content1 {
    gap: 50px;
  }
  .cnt2Pera {
    margin: 20px;
    width: 80%;
  }
  .cnt5-div2 {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    align-items: center;
  }
  .cnt5-div2 h1 {
    width: 75%;
    margin: auto;

    text-align: center;
  }
  .ratingimgdiv {
    align-items: center;
    display: flex;
    padding: 50px;
    justify-content: center;
  }
  .cnt8-pera2 {
    margin: 0;
    padding-right: 0;
  }
  .footer .section {
    margin: 0 20px;
  }
  .cnt7logos {
    margin: 0;
    padding: 70px 0;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }
}
@media (max-width: 992px) {
  .cnt9-left-line {
    display: none;
  }
  .headerContent img {
    display: none;
  }
  .ii {
    display: none;
  }
  #cnt5blueimg {
    display: none;
  }
  .section {
    padding: 10px;
  }

  .content2 {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    align-items: center;
  }
  .content2 img {
    width: 100%;
    height: 100%;
  }
  .cnt8 {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .cnt8-pera2 {
    width: 80%;
    align-items: center;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .logoimgs {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }
}
@media (max-width: 800px) {
  .cnt3grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .CardOne #card2{
    display: none;
  }
  .CardTwo #card1{
    display: none;
  }
  .cardThree #card3{
    display: none;
  }
}

@media (max-width: 779px) {
  .EFW {
    grid-template-columns: repeat(3, 1fr);
  }
  .cntImgs img {
    width: 100%;
  }
  .content1 {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 10px;
  }
  .ratingimgdiv {
    padding: 0;
  }
  .cnt4 {
    padding: 10px 60px;
  }
  .ratingimgdiv {
    flex-direction: column;
    row-gap: 20px;
    padding: 40px;
  }
  .ftrnav2 {
    display: none;
  }
  .ftrnav1 {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
}

/* ========================================================= */
#mobileblur {
  display: none;
}
#mblBlueLine {
  display: none;
}
#mblHeadingPera {
  display: none;
}
#mobieOrengLine {
  display: none;
}

.mobileHeadingImgs {
  display: none;
}

.mobilCyberDefnce {
  display: none;
}

.mblcnt5 {
  display: none;
}

.mblcnt5div2 {
  display: none;
}
.mblcnt6 {
  display: none;
}
.ftrmbl{
  display: none;
}

@media (max-width: 576px) {
  .heading {
    row-gap: 0px;
  }
  #mblBlueLine {
    display: flex;
    position: absolute;
    height: 67px;
    top: -20px;
  }
  #blureline {
    display: none;
  }
  #mobileblur {
    font-size: 28px;
    display: flex;
  }
  .heading h1 span {
    filter: blur(2.5px);
    padding-left: 10px;
  }

  .heading h2 {
    width: 329px;
    height: 150px;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
  }
  #mblHeadingPera {
    display: flex;
    width: 313px;
    font-family: "Reguler";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin: 0 23px 40px;
  }
  #mobieOrengLine {
    display: flex;
    position: absolute;
    right: 0;
    bottom: -100px;
    z-index: 1;
  }
  .cntImgs {
    display: none;
  }
  .mobileHeadingImgs {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    gap: 23px;
    
    z-index: 2;
    width: 312px;
    margin: 0 auto;
    
  }
    .mainimg img {
    width: 165px;
    height: 300px;
  }
  .twoimges {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    row-gap: 24px;
  }
  .twoimges img {
    width: 124px;
    height: 124px;
  }
  .content1 {
    padding: 0;
    margin: 171px 0 0;
  }
  .cnt1Colum1 {
    padding: 0;
    margin: 0;
  }
  .cnt1Colum1 h1 {
    font-size: 75px;
    margin: 0;
  }
  .details {
    border: none;
    border-bottom: 2px #01f5e6 solid;
    border-radius: 0;
    text-align: center;
  }
  .content4 {
    display: none;
  }
  .mobilCyberDefnce {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .mobilCyberDefnce h1 {
    font-family: "bold";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #1f2a37;
  }
  .mobilCyberDefnce h2 {
    font-family: "Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #1f2a37;
  }
  .mobilCyberDefnce p {
    width: 290px;
    height: 66px;
    font-family: "Reguler";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #4b5563;
  }
  .cnt2Pera h1 {
    width: 330px;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
  }
  .peraDiv p {
    width: 313px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #4b5563;
  }
  #perabtn1 {
    width: 100%;
    color: #ffffff;
  }
  #perabtn2 {
    width: 100%;
    padding: 0;
    margin: 15px 0;
    color: #01f5e6;
  }
  .cnt5-div1,
  .cnt5-div2 {
    display: none;
  }
  .mblcnt5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .mblcnt5 h1 {
    width: 330px;
    height: 72px;
    font-family: "Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #1f2a37;
    margin: 0 15px 60px;
  }
  .mblEFW {
    row-gap: 60px;
    display: flex;
    flex-direction: column;
  }
  .mblEFW p {
    width: 190px;
    height: 44px;
    font-family: "Reguler";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #4b5563;
  }

  .mblcnt5div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 141px 0 0;
  }
  .mblcnt5div2 h1 {
    width: 330px;
    height: 119px;
    font-family: "Bold";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 45px;
    text-transform: uppercase;
    color: #1f2a37;
    padding: 0 0 50px;
  }
  .mblcnt5div2 span {
    background: linear-gradient(#00ffdd, #00d4ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #card1 ,#card2 ,#card3 ,#card4{
    display: block;
  }
  .CardOne #card2 {
    display: none;
  }
  .CardOne #card3 {
    display: none;
  }
  .CardOne #card4 {
    display: none;
  }
  .CardTwo #card1 {
    display: none;
  }
  .CardTwo #card2 {
    display: none;
  }
  .CardTwo #card4{
    display: none;
  }
  .cardThree #card1 {
    display: none;
  }
  .cardThree #card2 {
    display: none;
  }
  .cardThree #card3{
    display: none;
  }

  .cnt2Clm1 {
    width: 95%;
  }
  .cnt2Clm1 img {
    width: 100%;
    display: block;
  }
  #card3 img {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
  }
  .info img {
    padding: 20px;
    margin: 20px;
  }
  .cnt3grid {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .logoimgs {
    display: flex;
    gap: 11px;
  }
  #logoimg2 {
    width: 67px;

    height: 35.3px;
  }
  #logoimg3 {
    width: 89.77px;
    height: 29.7px;
  }
  #logoimg4 {
    width: 89.77px;
    height: 27.7px;
  }

  #logoimg1,
  #logoimg5,
  #logoimg6 {
    display: none;
  }
  .cnt5-div3 button {
    width: 70%;
  }
  .content6 {
    display: none;
  }
  .mblcnt6 {
    display: flex;
    flex-direction: column;
    background-image: url("../images/mblbgman.png");
    height: 600px;
    position: relative;
  }
  #pera1 {
    width: 306px;
    height: 220px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
  }
  .mblcnt6 .section {
    padding: 60px 20px 261px 34px;
  }
  #orengQuote {
    position: absolute;
    top: 23px;
    left: 14px;
  }

  #cnt7imgs1,
  #cnt7imgs5 {
    display: none;
  }
  #cnt7imgs2 {
    width: 86.55px;
    height: 45.86px;
  }
  #cnt7imgs3 {
    width: 86.55px;
    height: 21.34px;
  }
  #cnt7imgs4 {
    width: 86.55px;
    height: 21.86px;
  }
  .cnt8-pera2 {
    width: 278px;
    height: 88px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
  }
  .cnt8-pera2 p {
    margin: -20px;
    width: 278px;
    height: 88px;
  }
  .cnt8-pera2 button {
    margin: 41px 0 0 -30px;
  }
  .content9 {
    display: none;
  }
  .mbllastsction .section {
    margin: 0;
    padding: 0 10px;
  }
  .cnt8 {
    padding: 0;
    margin-bottom: 80px;
  }
  .footer {
    display: none;
  }
  .ftrmbl {
    display: block;
    background-color: #1f2a37;
  }
  .mblftrlogo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  }
  .frt-cnt2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .frt-cnt2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .frt-cnt2 div img {
    background-color: #4b5563;
    width: 21px;
    height: 21px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 11px;
  }
  .frt-cnt2 p {
    font-family: "Reguler";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    align-items: center;
    display: flex;
    gap: 20px;
  }
  .ftr-maindiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
    padding-left: 20px;
  }
  .ftr-maindiv h1 {
    font-family: "Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #6b7280;
    padding-bottom: 20px;
  }
  .ftr-maindiv p {
    font-family: "Reguler";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    align-items: center;
    display: flex;
    gap: 20px;
  }
  .ftrlogoimg {
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
  }
  .ftr-Cnt-info {
    justify-content: center;
    display: flex;
    gap: 64px;
    margin: 52px 0;
  }
  .ftr-Cnt-info img {
    width: 35px;
    height: 35px;
  }
  .ftr-terms {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .ftr-terms p {
    font-family: "reguler";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.204545px;
    color: #e5e7eb;
    gap: 20px;
    padding-bottom: 20px;
  }
}
